h1{
		color: red;
		font-size: 90px;
		text-decoration: underline;
	}
	h2{
		font-size: 22px;
		color: orange;

	}

    #first{
    	font-size: 100px;
    }
	.small{
		font-size: 12px;
	}

	span{
		font-style: italic;
	}
	h2 span{
            text-decoration: line-through;
	}